<!DOCTYPE html>
<!--suppress JSVoidFunctionReturnValueUsed -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>haidnor-log</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.common.dev.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
</head>

<body>
<div id="root">
    <div>
        <p>
            服务
            <el-select v-model="server" @change="getNodeIp" filterable style="width: 150px">
                <el-option v-for="serverName in server_options" :value="serverName">{{ serverName }}</el-option>
            </el-select>

            节点IP
            <el-select v-model="ip" placeholder="请选择" multiple collapse-tags @change="getLogFolder"
                       style="width: 250px">
                <el-option
                        v-for="item in ip_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                        :disabled="item.disabled">
                </el-option>
            </el-select>

            <!--            <el-select v-model="ips" placeholder="请选择" multiple collapse-tags @change="getLogFolder" style="width: 250px">
                            <el-option
                                    v-for="item in ips"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value"
                                    :disabled="item.disabled">
                            </el-option>
                        </el-select>-->

            日期
            <el-select v-model="day" style="width: 130px">
                <el-option v-for="d in day_options" :value="d">{{ d }}</el-option>
            </el-select>

            日志级别
            <el-select v-model="fileName" style="width: 150px">
                <el-option value="error-log.log" label="ERROR"></el-option>
                <el-option value="warn-log.log" label="WARN"></el-option>
                <el-option value="info-log.log" label="INFO"></el-option>
                <el-option value="debug-log.log" label="DEBUG"></el-option>
            </el-select>

            单节点行数:
            <el-select v-model="rows" style="width: 80px">
                <el-option value="500" label="500"></el-option>
                <el-option value="1000" label="1000"></el-option>
                <el-option value="1500" label="1500"></el-option>
                <el-option value="2000" label="2000"></el-option>
            </el-select>

            显示IP前缀
            <el-select v-model="showIp" style="width: 80px">
                <el-option value="false" label="否"></el-option>
                <el-option value="true" label="是"></el-option>
            </el-select>
        </p>
        <p>
            <el-button @click="btn_cat" type="primary">查看</el-button>
            <el-button @click="btn_stop" type="danger">停止</el-button>
            <el-button @click="btn_download" type="success">下载</el-button>
        </p>
    </div>
    <div>
        <textarea v-model="log" style="width: 1700px;height:1000px;" id="log_textarea" wrap="off"></textarea>
    </div>
</div>
<div>
    <p>分布式节点日志合并查看下载工具 <a href="https://github.com/FranzHaidnor/haidnor-log">https://github.com/FranzHaidnor/haidnor-log</a>
    </p>
</div>

</body>

<script type="text/javascript">
    Vue.config.productionTip = false
    new Vue({
        el: '#root',
        data: {
            server_options: null,
            server: null,
            ip_options: null, // ip 下拉框中的选项
            ip: null,         // 选中的 id
            day_options: null,
            day: null,
            fileName: "error-log.log", // 默认查看的文件名
            rows: 500,
            showIp: null,
            socket: null,
            log: null
        },
        methods: {
            // 获取服务列表. 渲染下拉框服务信息
            getServerList() {
                axios.post("/system/getServerList").then(res => {
                    this.server_options = res.data.data;
                })
            },
            // 选择服务后调用接口,获取所有的节点 IP
            getNodeIp() {
                this.ip_options = null;
                this.ip = null;
                this.day_options = null;
                this.day = null;

                const params = new URLSearchParams();
                params.append('serverName', this.server);
                axios.post("/system/getNodeIp", params)
                    .then(res => {
                        this.ip_options = res.data.data;
                        // ip 默认全选
                        this.ip = this.ip_options
                            .filter(option => !option.disabled)
                            .map(option => option.value);

                        // 渲染完 IP 节点下拉框后,请求目录信息
                        if (this.ip != null) {
                            this.getLogFolder();
                        }
                    })
            },
            // 选择节点 ip 后,获取日志目录信息
            getLogFolder() {
                this.day_options = null;
                this.day = null;
                axios.post('/logClient/getLogFolder', {
                    "ip": this.ip,
                    "server": this.server
                }).then(res => {
                    this.day_options = res.data.data;
                    if (this.day_options != null && this.day_options.length >= 1) {
                        this.day = this.day_options[0];
                    }
                })
            },
            // 查看日志
            btn_cat() {
                if (this.server == null) {
                    alert("请选择服务");
                    return;
                }
                if (this.ip == null) {
                    alert("请选择节点IP");
                    return;
                }
                if (this.day == null) {
                    alert("请选择日期");
                    return;
                }

                let data = {};
                data.ip = this.ip;
                data.server = this.server;
                data.day = this.day;
                data.fileName = this.fileName;
                data.rows = this.rows;
                data.showIp = this.showIp;
                data.status = true;
                this.socket.send(JSON.stringify(data));
            },
            // 停止查看
            btn_stop() {
                let data = {};
                data.status = false;
                this.socket.send(JSON.stringify(data));
                this.log = '已停止查看日志';
            },
            // 下载日志
            btn_download() {
                if (this.server == null) {
                    alert("请选择服务");
                    return;
                }
                if (this.ip == null) {
                    alert("请选择节点IP");
                    return;
                }
                if (this.day == null) {
                    alert("请选择日期");
                    return;
                }

                let data = {};
                data.ip = this.ip;
                data.server = this.server;
                data.day = this.day;
                data.fileName = this.fileName;
                data.rows = 0;
                data.showIp = this.showIp;
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                axios.post("/logClient/download", data, {
                    headers: {
                        'Content-Type': 'application/json' // 设置请求头为JSON格式
                    }
                }).then(response => {
                    const blob = new Blob([response.data]);
                    const filename = response.headers['content-disposition'].split('=')[1]; // 从响应头中获取文件名
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = decodeURIComponent(filename);
                    link.click();
                }).catch(error => {
                    console.error('文件下载失败', error);
                }).finally(() => {
                    loading.close();
                });
            },
            // 初始化
            initialization() {
                this.getServerList();

                let _this = this;
                this.socket = new WebSocket("ws://" + window.location.host + "/webSocket");
                this.socket.onmessage = function (event) {
                    _this.log = event.data;
                };
                this.socket.onclose = function (event) {
                    _this.log = 'disconnect'
                    alert('与服务器断开连接! 刷新页面重新建立连接');
                    window.location.reload();
                }
                this.socket.onerror = function (event) {
                    _this.log = 'error'
                    alert('与服务器断开连接! 刷新页面重新建立连接');
                    window.location.reload();
                }
            }
        },
        created() {
            this.initialization();
        }

    })
</script>

</html>